[user]
	name = djole
	email = djordje_7@hotmail.com

[alias]
        co = checkout
        c = commit
        p = push
        s = status
        l = log
        b = branch
        a = add
        oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
